<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_battery_additional</key>
	<string>innerPercentage</string>
	<key>Battery_battery_chargerInside</key>
	<false/>
	<key>Battery_battery_color</key>
	<true/>
	<key>Battery_battery_xlSize</key>
	<true/>
	<key>CPU_barChart_position</key>
	<integer>3</integer>
	<key>CPU_label_position</key>
	<integer>2</integer>
	<key>CPU_lineChart_position</key>
	<integer>0</integer>
	<key>CPU_line_chart_box</key>
	<false/>
	<key>CPU_line_chart_color</key>
	<string>utilization</string>
	<key>CPU_line_chart_frame</key>
	<true/>
	<key>CPU_line_chart_label</key>
	<true/>
	<key>CPU_line_chart_value</key>
	<false/>
	<key>CPU_line_chart_valueColor</key>
	<false/>
	<key>CPU_mini_position</key>
	<integer>1</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>line_chart</string>
	<key>Disk_barChart_position</key>
	<integer>0</integer>
	<key>Disk_label_position</key>
	<integer>3</integer>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>2</integer>
	<key>Disk_networkChart_position</key>
	<integer>1</integer>
	<key>Disk_oneView</key>
	<true/>
	<key>Disk_pieChart_position</key>
	<integer>4</integer>
	<key>Disk_speed_position</key>
	<integer>6</integer>
	<key>Disk_text_position</key>
	<integer>7</integer>
	<key>Disk_widget</key>
	<string>bar_chart,network_chart</string>
	<key>GPU_barChart_position</key>
	<integer>3</integer>
	<key>GPU_label_position</key>
	<integer>2</integer>
	<key>GPU_lineChart_position</key>
	<integer>0</integer>
	<key>GPU_line_chart_box</key>
	<false/>
	<key>GPU_line_chart_color</key>
	<string>utilization</string>
	<key>GPU_line_chart_frame</key>
	<true/>
	<key>GPU_line_chart_label</key>
	<true/>
	<key>GPU_mini_position</key>
	<integer>1</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_widget</key>
	<string>line_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{842, 569}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSStatusItem Preferred Position Battery_battery</key>
	<real>289</real>
	<key>NSStatusItem Preferred Position CPU_line_chart</key>
	<real>624</real>
	<key>NSStatusItem Preferred Position Disk</key>
	<real>441</real>
	<key>NSStatusItem Preferred Position GPU_line_chart</key>
	<real>568</real>
	<key>NSStatusItem Preferred Position Network_network_chart</key>
	<real>387</real>
	<key>NSStatusItem Preferred Position RAM_line_chart</key>
	<real>512</real>
	<key>NSStatusItem Preferred Position Sensors_sensors</key>
	<real>343</real>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>537 394 728 480 0 0 3200 1770 </string>
	<key>Network_label_position</key>
	<integer>2</integer>
	<key>Network_networkChart_position</key>
	<integer>0</integer>
	<key>Network_network_chart_downloadColor</key>
	<string>secondBlue</string>
	<key>Network_network_chart_frame</key>
	<true/>
	<key>Network_network_chart_label</key>
	<true/>
	<key>Network_network_chart_uploadColor</key>
	<string>secondRed</string>
	<key>Network_speed_position</key>
	<integer>1</integer>
	<key>Network_state_position</key>
	<integer>3</integer>
	<key>Network_text_position</key>
	<integer>4</integer>
	<key>Network_widget</key>
	<string>network_chart</string>
	<key>RAM_barChart_position</key>
	<integer>3</integer>
	<key>RAM_label_position</key>
	<integer>2</integer>
	<key>RAM_lineChart_position</key>
	<integer>0</integer>
	<key>RAM_line_chart_box</key>
	<false/>
	<key>RAM_line_chart_color</key>
	<string>utilization</string>
	<key>RAM_line_chart_frame</key>
	<true/>
	<key>RAM_line_chart_label</key>
	<true/>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_position</key>
	<integer>1</integer>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_state_position</key>
	<integer>8</integer>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>line_chart</string>
	<key>SSD_bar_chart_box</key>
	<false/>
	<key>SSD_bar_chart_color</key>
	<string>utilization</string>
	<key>SSD_bar_chart_frame</key>
	<true/>
	<key>SSD_bar_chart_label</key>
	<true/>
	<key>SSD_network_chart_frame</key>
	<true/>
	<key>Sensors_barChart_position</key>
	<integer>3</integer>
	<key>Sensors_label_position</key>
	<integer>2</integer>
	<key>Sensors_mini_position</key>
	<integer>1</integer>
	<key>Sensors_sensors_size</key>
	<false/>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>remote_tokens_migrated_to_keychain</key>
	<true/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Average CPU</key>
	<true/>
	<key>sensor_Average GPU</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1778594701</integer>
	<key>updater_check_ts</key>
	<integer>1778600298</integer>
	<key>version</key>
	<string>2.12.13</string>
</dict>
</plist>
